/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@layer components {
  /* header */
  .nav-bar {
    @apply flex items-center rounded-full border-0 px-5 py-2 text-base font-medium text-black ring-0 duration-200 hover:bg-base-200 hover:text-black focus:border-0 focus:outline-none focus:ring-0 dark:text-base-100 dark:hover:bg-base-700/80 dark:hover:text-white;
  }
  .nav-bar-icon {
    @apply flex items-center rounded-full px-2 py-2 text-sm font-medium text-black hover:text-base-900;
  }
  .nav-popover {
    @apply flex w-full items-start gap-3 space-x-1 whitespace-nowrap rounded-md px-3 py-2 text-left text-sm font-medium text-black outline-none duration-200 hover:bg-base-200 hover:bg-gray-200/80 hover:text-black focus:outline-none focus:ring-0 dark:text-base-100 dark:hover:bg-base-700 dark:hover:text-white;
  }

  /* Footer */
  .ftr-link {
    @apply flex items-center text-sm text-base-500 duration-200 hover:text-black focus:outline-none focus:ring-0 dark:text-base-500 dark:hover:text-white;
  }
  .ftr-link-icon {
    @apply flex items-center rounded-full px-2 py-2 text-sm font-medium text-base-400 duration-200 hover:scale-110 hover:text-black dark:text-base-500 dark:hover:text-white;
  }

  /* Text */
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-lg font-semibold tracking-tight;
  }

  p {
    @apply text-base-800 dark:text-base-200;
  }

  /* Buttons */
  .btn {
    @apply rounded-md py-1.5 px-4 text-base outline-none duration-150 focus:outline-none disabled:cursor-not-allowed disabled:bg-base-800 disabled:text-base-400;
  }
  .btn-sm {
    @apply text-sm;
  }
  .btn-primary {
    @apply border border-transparent bg-base-900 text-white hover:border-base-800 hover:bg-white hover:text-black disabled:bg-base-500 disabled:text-base-200 disabled:hover:border-transparent dark:border-white dark:bg-base-200 dark:text-base-900 dark:hover:bg-base-900 dark:hover:text-white disabled:dark:border-transparent disabled:dark:bg-base-200/80 disabled:dark:text-base-500;
  }
  .btn-secondary {
    @apply border border-base-400 bg-white text-base-600 hover:border-base-900 hover:bg-base-200/50 hover:text-base-900 focus:outline-none disabled:cursor-not-allowed disabled:bg-base-700 disabled:text-base-400 dark:border-base-500 dark:bg-base-800 dark:text-base-200 dark:hover:border-base-200 dark:hover:bg-base-800 dark:hover:text-base-50;
  }
  .btn-ghost {
    @apply border-transparent bg-transparent text-base-400 hover:border-transparent hover:bg-transparent hover:text-black dark:border-transparent dark:bg-transparent dark:bg-none dark:text-base-300 dark:hover:bg-transparent dark:hover:text-white;
  }
  .btn-danger {
    @apply border border-transparent border-red-500 bg-base-50 text-red-500 hover:border-red-400 hover:bg-white hover:text-red-400 dark:border-red-500 dark:bg-base-900 dark:text-red-500 dark:hover:border-red-500 dark:hover:bg-red-500/20 dark:hover:text-red-400;
  }
  .btn-with-icon {
    @apply flex items-center space-x-2;
  }
  .btn-with-icon-only {
    @apply rounded-xl bg-transparent hover:bg-base-200 dark:hover:bg-base-600/50;
  }
  .btn-pill {
    @apply cursor-pointer whitespace-nowrap rounded-lg border border-transparent bg-base-200 py-2 px-4 text-xs text-base-500 duration-200 hover:bg-base-200 dark:border-transparent dark:bg-base-700/80 dark:text-base-200 dark:hover:bg-base-600 sm:text-sm;
  }
  .btn-pill-active {
    @apply cursor-pointer whitespace-nowrap rounded-lg border border-base-600 py-2 px-4 text-xs text-base-900 duration-200 dark:border-base-100 dark:text-white sm:text-sm;
  }

  /* Forms */
  .label {
    @apply block pb-2 font-medium;
  }
  .text-input {
    @apply block w-full resize-none rounded-lg border-base-400 bg-transparent py-3 px-3 text-sm text-base-600 placeholder-base-300 ring-0 hover:border-base-600 focus:border-base-600 focus:outline-none focus:ring-0 dark:border-base-600 dark:text-base-200 dark:hover:border-base-200 dark:focus:border-base-300;
  }
  .text-link {
    @apply text-success-default hover:bg-success-lighter dark:text-success-light dark:hover:bg-success-default/30;
  }

  /* Elements */
  .badge {
    @apply mr-1 mb-1 rounded bg-base-200 px-2 py-1 text-sm font-normal text-base-600 dark:bg-base-700 dark:text-base-200;
  }
  .badge-xs {
    @apply text-xs;
  }
  .badge-with-icon {
    @apply flex items-center space-x-1;
  }
  .popover-button {
    @apply flex min-w-min resize-none items-center space-x-2 rounded-lg border border-base-300/50 bg-transparent py-1.5 px-3 text-sm text-base-600 placeholder-base-300 outline-none ring-0 hover:border-base-600 focus:border-0 focus:border-base-600 focus:outline-none focus:ring-0 dark:border-base-500 dark:text-base-100 dark:hover:border-base-200 dark:focus:border-base-300;
  }
  .popover {
    @apply relative mt-6 rounded-xl border border-base-400 bg-white px-2 py-2 text-sm shadow-xl shadow-base-600/20 dark:border-base-600 dark:bg-base-900/95;
  }
  .popover-arrow {
    @apply absolute -top-[1px] left-[68px] h-3 w-3 -translate-x-1/2 -translate-y-1/2 rotate-45 transform border-l border-t border-base-400 bg-base-50 dark:border-base-600 dark:bg-base-900;
  }
  .popover-items {
    @apply w-full whitespace-nowrap rounded-md px-3 py-2 text-left text-sm duration-200 hover:bg-base-200/80  dark:hover:bg-base-700;
  }

  /* Utilities */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Define .no-scrollbar */
@layer utilities {
  /* Chrome, Safari and Opera */
  .prose-sm {
    font-size: 0.94rem;
    line-height: 1.5;
  }
  .prose pre {
    background-color: #282a36;
  }
  .prose h1,
  .prose h2 {
    margin-top: 1em;
    font-size: 1.4em;
    font-weight: 600;
  }
  .prose-sm h1,
  .prose-sm h2 {
    font-size: 1em;
    font-weight: 600;
  }
  .prose {
    font-family: 'Inter';
  }
  .prose p {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    font-size: 1.1rem;
    font-weight: 400;
  }
  .prose ul,
  .prose-sm ul {
    list-style: inherit !important;
  }
  .prose li {
    margin-top: 0em !important;
    margin-bottom: 0em !important;
    font-size: 1.1rem;
    font-weight: 400;
  }
  .prose-comments p {
    margin-top: 0em !important;
    margin-bottom: 0em;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.5;
  }
  .prose-comments ul,
  .prose-comments ol {
    margin-top: 0em !important;
    margin-bottom: 0em !important;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5;
  }
  .prose-comments li {
    margin-top: 0em !important;
    margin-bottom: 0em;
    font-size: 1.1em;
  }
  .prose-comments span {
    margin-top: 0em !important;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.5;
    display: block;
  }
  .prose-custom {
    margin-top: 0em !important;
  }
  .prose-custom p {
    margin-top: 0em !important;
    line-height: 1.6;
    margin-bottom: 0em !important;
    display: inline;
  }
  .prose-custom p {
    padding-right: 4px;
  }
  .prose pre code {
    font-size: 1rem;
    /* font-family: 'Roboto Mono' !important; */
  }
  .prose :where(code):not(:where([class~='not-prose'] *)) {
    font-weight: 500;
  }
  .prose img {
    /* width: auto !important; */
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline-block;
    max-width: 100%;
    border-radius: 5px;
  }

  .prose table {
    display: block;
    width: 100%;
    width: max-content;
    max-width: 100%;
    overflow: auto;
  }

  .prose-lg img {
    width: auto !important;
  }
  .prose-lg h1 {
    font-size: 1.6rem !important;
  }

  .prose a {
    color: #3291ff;
    text-decoration: none;
  }

  .prose a:hover {
    color: #3291ff;
    text-decoration: none;
    background-color: #0070f330;
  }

  .dark .dark\:prose-dark a {
    color: #0070f3;
    text-decoration: none;
  }
  .dark .dark\:prose-dark a:hover {
    color: #0070f3;
    text-decoration: none;
    background-color: #0070f330;
  }
}

#radioyes,
#radiono {
  margin-bottom: 0.2rem;
}

ul.mde-suggestions {
  z-index: 100 !important;
  position: static !important;
  overflow-y: scroll;
  max-height: 200px;
  margin: 0 !important;
  border: 0px !important;
}
ul.mde-suggestions:focus {
  border: 0px !important;
}

ul.mde-suggestions li {
  font-size: 0.8rem;
}

.dark ul.mde-suggestions {
  background-color: #27272a;
  border: 0px !important;
}

.dark ul.mde-suggestions li {
  border: 0px !important;
}

ul.mde-suggestions li:hover {
  background-color: #ececec !important;
  color: #121212 !important;
}

.dark ul.mde-suggestions li:hover {
  background-color: #3f3f46 !important;
  color: #999999 !important;
}

ul.mde-suggestions li[aria-selected='true'] {
  background-color: transparent !important;
}

.yt-lite {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  height: 100%;
}

/* gradient */
.yt-lite::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
  background-position: top;
  background-repeat: repeat-x;
  height: 60px;
  padding-bottom: 50px;
  width: 100%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/* responsive iframe with a 16:9 aspect ratio
  thanks https://css-tricks.com/responsive-iframes/
*/
.yt-lite::after {
  content: '';
  display: block;
  padding-bottom: calc(100% / (16 / 9));
}
.yt-lite > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* play button */
.yt-lite > .lty-playbtn {
  width: 70px;
  height: 46px;
  background-color: #212121;
  z-index: 1;
  opacity: 0.8;
  border-radius: 14%; /* TODO: Consider replacing this with YT's actual svg. Eh. */
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.yt-lite:hover > .lty-playbtn {
  background-color: #f00;
  opacity: 1;
}
/* play button triangle */
.yt-lite > .lty-playbtn:before {
  content: '';
  border-style: solid;
  border-width: 11px 0 11px 19px;
  border-color: transparent transparent transparent #fff;
}

.yt-lite > .lty-playbtn,
.yt-lite > .lty-playbtn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: tranbase3d(-50%, -50%, 0);
}

/* Post-click styles */
.yt-lite.lyt-activated {
  cursor: unset;
}
.yt-lite.lyt-activated::before,
.yt-lite.lyt-activated > .lty-playbtn {
  opacity: 0;
  pointer-events: none;
}

aside.EmojiPickerReact.epr-main {
  border: 0px !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.wmde-markdown {
  background-color: transparent !important;
  font-size: 1.1rem !important;
}

.dark .wmde-markdown {
  color: #f5f5f5 !important;
}

.wmde-markdown ul {
  list-style: disc !important;
}

.wmde-markdown ol {
  list-style: decimal !important;
}

.wmde-markdown pre {
  background-color: #eeeded !important;
}

.dark .wmde-markdown pre {
  background-color: #161b22 !important;
}

.wmde-markdown iframe {
  width: 100% !important;
}

/* 

.wmde-markdown h1,
.wmde-markdown h2 {
  border-color: #e7e7e7 !important;
}

.dark .wmde-markdown h1,
.dark .wmde-markdown h2 {
  border-color: #212121 !important;
}

.dark .wmde-markdown {
  background-color: transparent !important;
  color: #ececec !important;
}

.wmde-markdown table tr {
  background-color: transparent !important;
}

.wmde-markdown pre > code {
  padding: 4px !important; 
}



.wmde-markdown pre .copied {
  background-color: #ccc !important;
}

.wmde-markdown pre:hover .copied:hover {
  background-color: #7ee787 !important;
}

.dark .wmde-markdown pre .copied {
  background-color: #30363d !important;
}

 */
